<!-- ============================================================== -->
<!-- Card Grid-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex="100">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Nuevo Trabajo</mat-card-title>
        <mat-horizontal-stepper [linear]="false">
          <mat-step>
            <ng-template matStepLabel>Datos Básicos</ng-template>

            <div fxLayout="row wrap">
              <div fxFlex.gt-sm="100" fxFlex="100" class="m-t-20 m-b-20">
                Tipo de Impresión
                <mat-radio-group [(ngModel)]="printTypeGroup">
                  <mat-radio-button
                    *ngFor="let opt of typeOptions"
                    [value]="opt"
                    (change)="printTypeChange($event)"
                    color="primary"
                    value="digital"
                    class="m-r-10"
                    >{{ opt }}</mat-radio-button
                  >
                </mat-radio-group>
              </div>

              <!-- column -->
              <div fxFlex.gt-md="100" fxFlex="100">
                <mat-form-field>
                  <input
                    [(ngModel)]="budget.paper_size"
                    matInput
                    placeholder="Tamaño Papel"
                  />
                </mat-form-field>
              </div>
              <!-- column -->
              <div fxFlex.gt-sm="100" fxFlex="100">
                <mat-form-field>
                  <input
                    [(ngModel)]="budget.paper_type_id"
                    matInput
                    placeholder="Tipo Papel"
                  />
                </mat-form-field>
              </div>
              <!-- column -->
              <div fxFlex.gt-sm="100" fxFlex="100">
                <mat-form-field>
                  <input
                    matInput
                    [(ngModel)]="budget.prints_amount"
                    placeholder="Cantidad de Impresiones"
                  />
                </mat-form-field>
              </div>

              <!-- column -->
              <div fxFlex.gt-sm="100" fxFlex="100" class="m-b-20">
                <input
                  class="form-control b-b"
                  placeholder="Archivo"
                  type="file"
                />
              </div>

              <!-- column -->
              <div fxFlex.gt-sm="100" fxFlex="100">
                <mat-form-field>
                  <textarea
                    [(ngModel)]="budget.notes"
                    matInput
                    placeholder="Notas"
                  ></textarea>
                </mat-form-field>
              </div>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Terminaciones</ng-template>

            <mat-vertical-stepper [linear]="false">
              <mat-step *ngIf="!hasUV">
                <ng-template matStepLabel>Laminado</ng-template>
                <div fxLayout="row wrap">
                  <div fxFlex.gt-sm="100" fxFlex="100" class="m-t-20 m-b-20">
                    Tiene Laminado
                    <mat-radio-group>
                      <mat-radio-button
                        (change)="laminatedSelectionChange($event)"
                        color="primary"
                        value="true"
                        class="m-r-10"
                        >Si</mat-radio-button
                      >
                      <mat-radio-button
                        (change)="laminatedSelectionChange($event)"
                        color="primary"
                        value="false"
                        class="m-r-10"
                        >No</mat-radio-button
                      >
                    </mat-radio-group>
                  </div>
                </div>
                <div
                  fxLayout="row wrap"
                  [style.display]="hasLamination ? '' : 'none'"
                >
                  <mat-form-field>
                    <input
                      [(ngModel)]="lamination.printing"
                      matInput
                      placeholder="Tiraje"
                      required
                    />
                  </mat-form-field>
                  <div fxFlex.gt-sm="100" fxFlex="100" class="m-t-20 m-b-20">
                    Tipo de Laminado
                  </div>
                  <div fxFlex.gt-sm="100" fxFlex="100" class="m-t-20 m-b-20">
                    <mat-radio-group>
                      <mat-radio-button
                        color="primary"
                        *ngFor="let lOpt of laminationOptions"
                        [value]="lOpt"
                        (change)="laminationOptionChange($event)"
                        value="mate"
                        class="m-r-10"
                        >{{ lOpt }}</mat-radio-button
                      >
                    </mat-radio-group>
                  </div>
                </div>
              </mat-step>

              <mat-step *ngIf="!hasLamination">
                <ng-template matStepLabel>Terminación UV</ng-template>
                <div fxLayout="row wrap">
                  <div fxFlex.gt-sm="100" fxFlex="100" class="m-t-20 m-b-20">
                    Tiene Terminación Uv
                    <mat-radio-group>
                      <mat-radio-button
                        (change)="uvSelectionChange($event)"
                        color="primary"
                        value="true"
                        class="m-r-10"
                        >Si</mat-radio-button
                      >
                      <mat-radio-button
                        (change)="uvSelectionChange($event)"
                        color="primary"
                        value="false"
                        class="m-r-10"
                        >No</mat-radio-button
                      >
                    </mat-radio-group>
                  </div>
                </div>
              </mat-step>

              <mat-step>
                <ng-template matStepLabel>Troquelado</ng-template>
                <div fxLayout="row wrap">
                  <div fxFlex.gt-sm="100" fxFlex="100" class="m-t-20 m-b-20">
                    Tiene Troquelado
                    <mat-radio-group>
                      <mat-radio-button
                        (change)="dieCuttingSelectionChange($event)"
                        color="primary"
                        value="true"
                        class="m-r-10"
                        >Si</mat-radio-button
                      >
                      <mat-radio-button
                        color="primary"
                        value="false"
                        class="m-r-10"
                        >No</mat-radio-button
                      >
                    </mat-radio-group>
                  </div>
                </div>
                <div
                  fxLayout="row wrap"
                  [style.display]="hasDieCutting ? '' : 'none'"
                >
                  <mat-form-field>
                    <input
                      matInput
                      [(ngModel)]="rumbling.shape"
                      placeholder="Forma"
                      required
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <input
                      matInput
                      [(ngModel)]="rumbling.amount"
                      placeholder="Cantidad"
                      required
                    />
                  </mat-form-field>
                  <div fxFlex.gt-sm="100" fxFlex="100">
                    <mat-form-field>
                      <textarea
                        matInput
                        [(ngModel)]="rumbling.detail"
                        placeholder="Detalles"
                      ></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </mat-step>

              <mat-step>
                <ng-template matStepLabel>Encuadernación</ng-template>
                <div fxLayout="row wrap">
                  <div fxFlex.gt-sm="100" fxFlex="100" class="m-t-20 m-b-20">
                    Tiene Encuadernación
                    <mat-radio-group>
                      <mat-radio-button
                        color="primary"
                        value="true"
                        class="m-r-10"
                        (change)="bindingSelectionChange($event)"
                        >Si</mat-radio-button
                      >
                      <mat-radio-button
                        color="primary"
                        (change)="bindingSelectionChange($event)"
                        value="false"
                        class="m-r-10"
                        >No</mat-radio-button
                      >
                    </mat-radio-group>
                  </div>
                </div>
                <div
                  fxLayout="row wrap"
                  [style.display]="hasBinding ? '' : 'none'"
                >
                  <div fxFlex.gt-sm="100" fxFlex="100" class="m-t-20 m-b-20">
                    Tipo de Encuadernación
                  </div>
                  <div fxFlex.gt-sm="100" fxFlex="100" class="m-t-20 m-b-20">
                    <mat-radio-group>
                      <mat-radio-button
                        color="primary"
                        *ngFor="let bOpt of boundOptions"
                        [value]="bOpt"
                        (change)="bindingOptionChange($event)"
                        class="m-r-10"
                        >{{ bOpt }}</mat-radio-button
                      >
                    </mat-radio-group>
                  </div>
                  <div
                    [style.display]="bound.type == 3 ? '' : 'none'"
                    fxFlex.gt-sm="100"
                    fxFlex="100"
                  >
                    <mat-form-field>
                      <textarea
                        matInput
                        [(ngModel)]="bound.others"
                        placeholder="Otros"
                      ></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </mat-step>
            </mat-vertical-stepper>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Datos Entrega</ng-template>
            <div fxLayout="row wrap">
              <!-- column -->
              <div fxFlex.gt-sm="85" fxFlex="85">
                <mat-form-field>
                  <mat-select [(value)]="myClient" placeholder="Cliente">
                    <mat-option
                      *ngFor="let client of allClients"
                      [value]="client"
                      >{{ client.name }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <mat-form-field fxFlex.gt-sm="100" fxFlex="100">
                <input
                  matInput
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="fecha"
                  [matDatepicker]="picker7"
                  placeholder="Fecha Entrega"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker7"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  (selectedChanged)="onDate($event)"
                  touchUi="true"
                  #picker7
                >
                </mat-datepicker>
              </mat-form-field>
              <!-- column -->
              <div fxFlex.gt-sm="100" fxFlex="100">
                <button
                  style="float:right"
                  (click)="saveBudget()"
                  mat-raised-button
                  color="primary"
                >
                  Guardar
                </button>
              </div>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </mat-card-content>
    </mat-card>
  </div>
</div>
