<div fxLayout="row" fxLayoutAlign="space-around center">
  <mat-card fxFlex="90" fxFlex.sm="100" fxFlex.xs="100">
    <button
      *ngIf="clientsService.showClient || clientsService.showCreate"
      mat-raised-button
      (click)="showList()"
    >
      <mat-icon>arrow_back</mat-icon> Listado
    </button>

    <clients-list *ngIf="clientsService.showList"></clients-list>
    <clients-create *ngIf="clientsService.showCreate"></clients-create>
    <clients-edit *ngIf="clientsService.showClient"></clients-edit>
  </mat-card>
</div>
