.login-form {
  font-size: 17px;
  margin-bottom: 40px;
  h1 {
    font-size: 2.5rem;
  }
  mat-form-field {
    margin-top: 10px;
    width: 100%;
    mat-icon {
      font-size: 100%;
      margin-right: 5px;
      cursor: pointer;
    }
  }
  .form-button {
    button {
      float: right;
      margin-top: 10px;
    }
  }
  input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px #eee;
  }
}

.smallButtons {
  float: left;
  width: 200px;
}
#forgotPasswordButton {
  position: relative;
  background-color: transparent;
  border-color: transparent;
  margin-top: 2px;
  margin-left: -7px;
  color: #4842b8;
  text-decoration: underline;
  cursor: pointer;
  float: left;
}

#noAccountButton {
  position: relative;
  background-color: transparent;
  border-color: transparent;
  margin-top: 2px;
  margin-left: -7px;
  color: #4842b8;
  text-decoration: underline;
  cursor: pointer;
  float: left;
}

#loginFormCol {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  max-width: 92%;
  place-content: center;
  align-items: center;
}
